.cardHeader {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.cardContent {
  display: flex;
  align-items: center;
}

.cardDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .descriptionArea {
    display: flex;
    align-items: center;

    .tenBisImage {
      margin: 0 10px;
    }

    .reviewButton {
      background: none;
    }
  }
}
