.cardContainer {
  height: fit-content;

  .cardHeader {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  .cardDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .descriptionArea {
      display: flex;
      align-items: center;

      .tenBisImage {
        margin: 0 10px;
      }

      .reviewButton {
        background: none;
      }
    }
  }

  .showReviews {
    display: block;
  }

  .hideReviews {
    display: none;
  }
}

.cardContainer:hover {
  box-shadow: 2px 2px 10px 2px #7895a4 !important;
}
