.headerContainer {
    position: relative;
    text-align: center;
    color: black;
    height: 40%;
    width: 100%;

    .headerImage {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .headerText {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        font-family: sans-serif;
    }
}