.headerContainer {
  position: relative;
  text-align: center;
  color: black;
  height: 300px;
  width: 100%;

  .headerImage {
    background-size: cover;
    height: 100%;
    background-image: url("../../assets/images/Pizza.png");
    display: flex;
    justify-content: center;
    align-items: center;

    .headerText {
      font-size: 80px;
      font-family: sans-serif;
    }
  }
}
