@import "../../assets/stylesheets/colors";

.headerContainer {
  position: relative;
  text-align: center;
  color: $titleColor;
  height: 300px;
  width: 100%;

  .headerImage {
    background-size: cover;
    height: 100%;
    background-image: url("../../assets/images/Pizza.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .headerText {
      font-size: 80px;
      font-family: sans-serif;
      margin-bottom: 50px;
    }

    .headerItemsContainer {
      display: flex;
      justify-content: space-between;

      .search {
        margin-right: 10px;
      }

      .addRestaurantButton {
        background-color: $titleColor !important;
        color: white !important;
      }
    }
  }
}
