#filters-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    .item {
        padding: 20px 0;   
        font-size: 18px;

        .header {
            padding-bottom: 8px;
        }

        .description {
            .rating {
                i.icon {
                    font-size: 18px !important;                    
                }

                i.active, i.selected {
                    color: #f61f06;
                }

                i:hover {
                    color: #f61f06;
                }
            }

            
        }
    }
}