@import "../../assets/stylesheets/colors";

.filtersContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  .tenBisFilterContainer {
    align-items: center;
    display: flex;

    .tenBis {
      margin: 0 10px;
      width: 30px;
    }
  }

  .clearFilter,
  .clearFilter:focus {
    background: none;
    display: flex;
    font-size: 18px;
    border: 1px solid $buttonBorderColor;
    border-radius: 5px;
    color: $buttonTextColor;
  }

  .clearFilter:hover {
    background: none;
    border-color: $buttonBorderColorOnHover;
    color: $buttonTextColorOnHover;
  }

  :global {
    .item {
      padding: 20px 0;
      font-size: 18px;

      .header {
        padding-bottom: 8px;
      }

      .description {
        .rating {
          i.icon {
            font-size: 18px !important;
          }

          i.active,
          i.selected,
          i:hover {
            color: $red;
          }
        }
      }
    }
  }
}
