$red: #f61f06;
$grey: #4a494b6e;
$titleColor: black;
$logoColor: black;
$textFieldBorderColor: #dededf;
$buttonBorderColor: rgba(34, 36, 38, 0.15);
$buttonBorderColorOnHover: rgba(34, 36, 38, 0.35);
$buttonTextColor: rgba(0, 0, 0, 0.6);
$buttonTextColorOnHover: rgba(0, 0, 0, 0.8);
$shadowOnHover: #7895a4;